# Large files
seg_*
X_test*
X_train*
y_test*
y_train*
archive.zip
github_test
github_train_0
github_train_1
github_train_2
github_train_3
*.npz
apple_train
apple_test
toDo*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv*
.vscode
env/
venv/
ENV/
env.bak/
venv.bak/

# PyPI configuration file
.pypirc
